.card
{
  border: 0;
}

.frontimage
{
  height: 30%;
  width: 100%;

}
.navbar-toggler-icon
{
  color: black;
  z-index: 1;
}
.logo
{
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-left: 4%;
  margin-right: 0;


}
.hamburger
{

  justify-content: center;
  text-align: center;


}
@media (max-width:1000px)
{
  .shiftleft
  {
    text-align: right;
  }

}

.brandtext
{
  margin-left: 0;
}
.optionsnavbar
{
  margin-right: 4%;
}
.navigation
{
  background-color:#FAEDC6;

}
.front-image-text{
   text-align: left;
   position: absolute;
   top: 30%;
   left: 4%;


}
@media (max-width:998px)  {

     .front-image-text
     {
       position: static;
       text-align: center;
       padding: 7% 10%;
       margin: 0;
     }

}

#booking
{
  padding: 7% 10%;
  background-color: #FAEDC6;

}

.passdetails
{
  text-align:center;
  margin-bottom: 2%;
  justify-content: space-between;
  margin-left: 0;
  margin-right: 0;
}
@media (max-width:1058px) {
     .passdetails
     {
       margin: 2% 2%;
       justify-content: space-between;
       align-items: center;

     }

}


.bookunit
{
  margin-top: 2%;
  margin-bottom: 2%;

}
.featureimg
{
  height: 200px;
  width: 250px;
  border-radius: 50px;
  align-items: center;
  margin-bottom: 2%;
}
@media (max-width:990px)
{
  .featureimg
  {
    height: 400px;
    width: 450px;
    border-radius: 50px;
    align-items: center;
    margin-bottom: 2%;
  }
}
.feature-box
{
  text-align: center;

  justify-content: center;
}
.featuresection
{
  padding: 7% 10%;
}
body
{
  margin: 0;
  padding-bottom: 0;
}
#carouselExampleControls
{
  padding: 3%;
  justify-content: center;
}
.btnback
{
  background-color: black;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  margin-top: auto;
  margin-bottom: auto;

}
.stackadjust
{
  overflow-x: auto;

}

@media (min-width:1267px)  {

  .stackadjust::-webkit-scrollbar
  {
    width: 10px;
  }
}
.footerimg
{
  height: 50px;
  width: 50px;
}
.contact
{
  height: 30px;
  width: 30px;
}
.about
{
  padding-top:7%;
}
.contactalign
{
  justify-content: center;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 0;
}
.attribute
{
  text-align: center;

}
#end
{
  background-color:#FAEDC6;

}
p
{
  margin-bottom: 0;
}
